version: '2'
services:
  php-fpm72:
    build: ./php72/
    expose:
      - "9000"
      - "9001"
    links:
      - mysql-db:mysql-db
      - redis-db:redis-db
      - memcached:memcached
    volumes:
      - ${APPLICATION}:/data/www:rw
      - ./php72/php.ini:/usr/local/etc/php/php.ini:ro
      - ./php72/php-fpm.conf:/usr/local/etc/php-fpm.conf:ro
      - ../logs/php-fpm72:/var/log/php-fpm:rw
    restart: always
    command: php-fpm

  php-fpm56:
    build: ./php56/
    expose:
      - "9000"
      - "9001"
    links:
      - mysql-db:mysql-db
      - redis-db:redis-db
      - memcached:memcached
    volumes:
      - ${APPLICATION}:/data/www:rw
      - ./php56/php.ini:/usr/local/etc/php/php.ini:ro
      - ./php56/php-fpm.conf:/usr/local/etc/php-fpm.conf:ro
      - ../logs/php-fpm56:/var/log/php-fpm:rw
    restart: always
    command: php-fpm

  nginx:
    build: ./nginx
    depends_on:
      - php-fpm72
      - php-fpm56
    links:
      - php-fpm72:php-fpm72
      - php-fpm56:php-fpm56
    volumes:
      - ${APPLICATION}:/data/www:rw
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/certs/:/etc/nginx/certs
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ../logs/nginx:/var/log/nginx
    ports:
      - "80:80"
      - "8080:8080"
      - "443:443"
    restart: always
    command: nginx -g 'daemon off;'

  mysql-db:
      build: ./mysql
      ports:
        - "3306:3306"
      volumes:
        - ../data/mysql:/var/lib/mysql:rw
        - ../logs/mysql:/var/lib/mysql-logs:rw
        - ./mysql/conf.d:/etc/mysql/conf.d:ro
      environment:
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD} # root密码 自行修改
        MYSQL_DATABASE: ${MYSQL_DATABASE} # 数据库名
        MYSQL_USER: ${MYSQL_USER}
        MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      restart: always
      command: "--character-set-server=utf8"

  redis-db:
      build: ./redis
      ports:
        - "6379:6379"
      volumes:
        - ./redis/redis.conf:/etc/redis/redis.conf:rw
        - ../data/redis:/data:rw
        - ../logs/redis:/var/log/:rw
      restart: always

  memcached:
      build: ./memcached
      ports:
        - "11211:11211"
